<section class="fbv2-workspace" data-ui-contract="UI-FORM-V2"
         role="dialog" aria-modal="true" aria-labelledby="titulo-modal-builder">
  <ng-content select="app-form-builder-toolbar-v2"></ng-content>

  <div class="fbv2-workspace__body">
    <ng-content select="app-form-builder-palette-v2"></ng-content>
    <ng-content select="app-form-builder-canvas-v2"></ng-content>
    <ng-content select="app-form-builder-inspector-v2"></ng-content>
  </div>

  <ng-content select="app-form-builder-statusbar-v2"></ng-content>
</section>
